* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

#main-header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0689e0;
}

#main-header h1 {
    color: white;
    margin: 0;
}

button {
    font: inherit;
    border: 1px solid #000053;
    color: white;
    background: #000053;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:active,
button:hover {
    background: #12128a;
    border-color: #12128a;
}

input,
label,
textarea {
    display: block;
    margin: .5rem 0;
}

input,
textarea {
    width: 100%;
    font: inherit;
    padding: .15rem .25rem;
    border: 1px solid #ccc;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #000053;
}

section {
    width: 40rem;
    max-width: 90%;
    margin: 2rem auto;
    border: 1px solid #ccc;
    padding: 1.5rem;
}

.form-control {
    margin: .5rem 0;
}

.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post-item {
    margin: 1rem 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
    padding: 1rem;
}

.post-item h2,
.post-item p {
    margin: .5rem 0;
}

.post-item h2 {
    font-size: 1.5rem;
    color: #414141;
}

.post-item button {
    border-color: #920101;
    background: #920101;
}

.post-item button:active,
.post-item button:hover {
    border-color: #dd2929;
    background: #dd2929;
}